.todoHeader{
    background: #130526;
    color: white;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todoHeader h1{
    font-size: 50px;
    font-weight: 400;
    transform: rotate(-10deg);
    padding-right: 80px;
}

.todoHeaderAddTodo{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    display: flex;
    gap: 20px;
    position: relative;
}

.redoIcon {
    transform: rotate(-190deg);
    position: absolute;
    bottom: -20px;
    left: 40px;
}